{% extends "base.html" %}

{% block content %}
<div class="container" id="chart"></div>
<div class="container" id="filters"></div>
{% endblock %}

{% block script %}

<script>
    // JavaScript code using d3.js
    // Select the chart container
    const chartContainer = d3.select("#chart");

    // Set up your d3.js code here to create the visualization
    // For example:
    chartContainer
        .append("svg")
        .attr("width", 400)
        .attr("height", 300)
        .append("rect")
        .attr("x", 50)
        .attr("y", 50)
        .attr("width", 100)
        .attr("height", 100)
        .style("fill", "steelblue");
</script>

{% endblock %}
